*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #000000;
	padding-left: 3rem;
}
.logo{
	display: flex;
	flex-direction: column;
}
.logo img:first-of-type{
	width: 100px;
	margin-top: 1rem;
	margin-bottom: 10px;
}
.logo img:last-of-type{
	width: 300px;
	margin-bottom: 1rem;
}
.nft-section{
	background: #FAB802;
	box-shadow: 0px 4px 10px rgba(250, 184, 2, 0.25);
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0.5rem 3rem;
	
}
.nft-section h2{
	font-weight: 600;
	font-size: 60px;
	line-height: 73px;
	color: #000000;
	word-wrap: break-word;
	margin-left: 1rem;
}
.nft-section img{
	margin-right: 1rem;
}
.items{
	display: flex;
	padding-block: 1rem;
	justify-content: space-between;
	padding-right: 30%;
}
footer{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 400px;
	width: 100%;
	padding-bottom: 10px;
	background-image: url("images/photo_2022-10-30_22-01-54 1.png"),url("images/photo_2022-10-30_22-01-54 2.png"),url("images/photo_2022-10-30_22-01-54 3.png");
	
	background-repeat: no-repeat;
	background-position: right 50% top 50%, top 50% right 0, top 50% right 100%;
}
.carousels>section+section{
	/* margin-right: 2rem; */
	margin-left: 4rem;
}
footer svg{
	width: 50px;
	margin-inline: 10px;
}
.carousel{
	width: 420px;
	height: 450px;
	background-color: #FFFFFF;
	border-radius: 8px;
	margin-block: 2px;
	padding: 10px;
	display: inline-block;
}
.carousel-img img{
	width: 202px;
	height: 184px;
}
.carousel h4{
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
}
.carousel p{
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	color: gray;
	
}

.carousel button{
	background: #FAB802;
	padding: 0.5rem 1.5rem;
	border-radius: 8px;
	outline: none;
	border: 1px solid #FAB802;
}
.carousel-profile-img{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	position: relative;
	bottom: 10%;
}
.featured-creators{
	font-weight: 600;
	font-size: 30px;
	color: #FFFFFF;
	line-height: 37px;
	padding-block: 1rem;
}
.featured-item{
	font-weight: 600;
	font-size: 30px;
	color: #FFFFFF;
	line-height: 37px;
	padding-block: 1rem;
}
.carousels{
	/* display: flex; */
	/* justify-content: space-between; */
	/* overflow-x: scroll; */
	white-space: nowrap;
	overflow: auto;
	width: 100%;
	
	margin: 0 auto;
}
.button-div{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.robotic{
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	/* identical to box height */
	color: #FFFFFF;
}
.rockstar{
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
}
.current{
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.afro-img{
	width: 100%;
}
.afro{
	height: 301px;
	width: 420px;
	/* width: 100%; */
	object-fit: cover;
}
.logos{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;
}
.logos svg{
	width: 50px;
	margin-right: 1rem;
}
.carousel-ii{
	width: 420px;
	height: 450px;
	/* background-color: red; */
	margin-block: 2px;
	display: inline-block;
	background-color: #FFFFFF;
	border-radius: 8px;
	
}
.afro-img{
	position: relative;
	left: 0px;
	top: -10px;
}
.robotic{
	position: absolute;
	bottom: 10%;
	left: 25%;
	color: #FFFFFF;
}
.avatar{
	width: 100px;
	height: 100px;
	position: relative;
	bottom: 60px;
	margin-right: 4px;
}
.avatar-div{
	display: flex;
	justify-content: space-between;
	padding-inline: 7px;
	background-color: #FFFFFF;
}
.first{
	display: flex;
}
.second{
	display: flex;
	justify-content: space-between;
	padding-inline: 7px;
	background-color: #FFFFFF;
}
.second button{
	background-color: #FAB802;
	border: 1px solid #FAB802;
	padding-inline: 5px;
	border-radius: 4px;
	font-weight: 700;
}
.rect{
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 948px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
	/* height: 160px; */
	margin-block: 1.5rem;
}
.rect button{
	padding: 0.5rem 1.5rem;
	background-color: #FAB802;
	border-radius: 8px;
	border: 1px solid #FAB802;
	font-weight: 700;
}
.rect-div{
	display: flex;
	align-items: center;	
}
.items{
	color: #FFFFFF;
}
.rectt{
	display: flex;
	flex-direction: column;
	/* column-gap: 10px; */
	margin-left: 10px;
}
.rectt h5{
	margin-block: 7px;
}
.motion{
	font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
/* identical to box height */


color: #000000;
}
.time{
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.footer{
	color: white;
}
.coming{
	font-style: normal;
	font-weight: 600;
	font-size: 99px;
	line-height: 121px;
	text-align: center;
}
.market{
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
}

@media screen and (max-width: 768px){
	body{
		padding-inline: 1rem;
	}
	.rect{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 10px;
		/* height: 160px; */
		margin-block: 1.5rem;
	}
	.nft-section{
		display: flex;
		flex-direction: column;
		
	}
	.nft-section h2{
		font-weight: 600;
		font-size: 40px;
		line-height: 73px;
		color: #000000;
		word-wrap: break-word;
		margin-left: 1rem;
	}
	.rect h5{
		font-size: 1.3rem;
		line-height: 20px;
	}
	.footer h2{
		font-size: 3rem;
	}
	.footer p {
		font-size: 1.5rem;
		line-height: 30px;
	}
	.nft-section h2{
		line-height: 30px;
		font-size: 1.5rem;
		margin-block: 10px;
	}
	.nft-section img{
		width: 90%;
	}
	.carousel-img>img{
		width: 150px;
		height: 120px;
	}
	.carousel-profile-img>img{
		width: 100px;
		height: 100px;
		position: relative;
		right: 5%;
	}
	.button-div{
		justify-content: center;
	}
	.carousel{
		height: 400px;
		width: 350px;
	}
	.afro{
		width: 350px;
	}
	.carousel-ii{
		width: 350px;
		height: 400px;
	}
	.second{
		width: 350px;
		outline: none;
		padding: 10px;
	}
	.avatar-div{
		width: 350px;
	}
	.afro-img{
		width: 350px;
		position: relative;
		left: 0px;
		top: -10px;
	}
	.logos svg{
		margin-right: 0rem;
		width: 30px;
	}
	.logo img:first-of-type{
		width: 50px;
		margin-top: 1rem;
		margin-bottom: 10px;
	}
	.logo img:last-of-type{
		width: 150px;
		margin-bottom: 1rem;
	}
	
}
